@model HomeVM
@{
    ViewData["Title"] = "Default";
}
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="index.html"><img src="~/img/logo/@Model.SettingsKeyValue["footerLogo"]" alt="eduhome"></a>
                        </div>
                        <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and give you a coete account of the system. </p>
                        <div class="footer-social">
                            <ul>                               
                                <li><a name="" href="@Model.SettingsKeyValue["Facebook"]"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@Model.SettingsKeyValue["Pinterest"]"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="@Model.SettingsKeyValue["Vimeo"]"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="@Model.SettingsKeyValue["Twitter"]"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>information</h3>
                        <ul>
                            <li><a href="#">addmission</a></li>
                            <li><a href="#">Academic Calender</a></li>
                            <li><a href="event.html">Event List</a></li>
                            <li><a href="#">Hostel &amp; Dinning</a></li>
                            <li><a href="#">TimeTable</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>useful links</h3>
                        <ul>
                            <li><a href="course.html">our courses</a></li>
                            <li><a href="about.html">about us</a></li>
                            <li><a href="teacher.html">teachers &amp; faculty</a></li>
                            <li><a href="#">teams &amp; conditions</a></li>
                            <li><a href="event.html">our events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>@Model.SettingsKeyValue["FooterGetInTouch"]</h3>
                        <p>@Html.Raw(Model.SettingsKeyValue["Address"]) </p>
                        <p>@Model.SettingsKeyValue["Num1"]<br>@Model.SettingsKeyValue["Num2"]</p>
                        <p>@Model.SettingsKeyValue["OurEmail"]<br>@Model.SettingsKeyValue["domain"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="#" target="_blank">HasTech</a> 2017. All Right Reserved By Hastech.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
