@model Blog
@{
    ViewData["Title"] = "Detail";
    int count = 0;
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/img/blog/blog-detail.jpg" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Title</h2>
                        <h6>By @Model.Author /  @(new DateTime(DateTime.Now.Year, Model.Date.Month, 1).ToString("MMMM")) @Model.Date.Day, @Model.Date.Year  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Html.Raw(Model.Description)</p>
                    </div>
                    @await Html.PartialAsync("_Comment",new CommentVM())
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in ViewBag.Categories)
                            {
                                foreach (var events in ViewBag.Blogs)
                                {
                                    if (category.Id == events.CategoryId) count++;
                                }
                                <li><a href="#">@category.Name (@count)</a></li>

                                count = 0;


                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        @foreach (var post in ViewBag.Posts)
                        {
                            <div class="single-post @(count==ViewBag.Posts.Count?"":" mb-30")">
                                <div class="single-post-img">
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">
                                        <img src="~/img/post/@post.ImgUrl" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a href="blog-details.html">@post.Title</a></h4>
                                    <p>By @post.Author  /  @(new DateTime(DateTime.Now.Year, post.Date.Month, 1).ToString("MMMM")) @post.Date.Day, @post.Date.Year</p>
                                </div>
                            </div>
                            count++;

                        }
                        @{
                            count = 0;
                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (var tag in  ViewBag.Tags)
                            {
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" class="mr-10 mb-10">@tag.Name</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Subscribe",new SubscribeVM())