@model List<Blog>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<!-- Header Area End -->
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>@this.ViewContext.RouteData.Values["controller"].ToString()</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- blog Start -->
<div class="blog-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">
                                <img src="~/img/blog/@item.ImgUrl" alt="blog">
                            </a>
                                <div class="blog-hover">
                                    <i class="fa fa-link"></i>
                            </div>
                        </div>
                            <div class="blog-top">
                                <p>By @item.Author /  @(new DateTime(DateTime.Now.Year, item.Date.Month, 1).ToString("MMMM")) @item.Date.Day, @item.Date.Year  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">@Html.Raw(item.Description.Substring(0,40)) </a></h2>
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">read more</a>
                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@await Html.PartialAsync("_Subscribe",new SubscribeVM())

