@model Teacher
@{
    ViewData["Title"] = "Index";
}
<div class="banner-area-wrapper">
            <div class="banner-area text-center">	
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="banner-content-wrapper">
                                <div class="banner-content">
                                    <h2>teachers / details</h2> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
		<!-- Banner Area End -->
        <!-- Teacher Start -->
        <div class="teacher-details-area pt-150 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="teacher-details-img">
                            <img src="~/img/teacher/@Model.ImgUrl" alt="teacher">  
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="teacher-details-content ml-50">
                            <h2>@Model.Name</h2>
                            <h5>@Model.Specilty</h5>
                            <h4>@Model.AboutMe</h4>
                            <p>@Model.Description</p>
                            <ul>
                                
                                 <li><span>degree: </span>@Model.TeacherPersonInfo.Degree</li>
                                 <li><span>experience: </span>@Model.TeacherPersonInfo.Experience</li>
                                 <li><span>hobbies: </span>@Model.TeacherPersonInfo.Hobbies</li>
                                 <li><span>faculty: </span>@Model.TeacherPersonInfo.Faculty</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="teacher-contact">
                            <h4>contact information</h4>
                            <p><span>mail me : </span>@Model.TeacherContactInfo.Email</p>
                    <p><span>make a call : </span>@Model.TeacherContactInfo.Number</p>
                    <p><span>skype : </span> @Model.TeacherContactInfo.Skype</p>
                            <ul>
                        <li><a href="@Model.TeacherSocialMedia.Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="@Model.TeacherSocialMedia.Pinterest"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="@Model.TeacherSocialMedia.Vimeo"><i class="zmdi zmdi-vimeo"></i></a></li>
                        <li><a href="@Model.TeacherSocialMedia.Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="skill-area">
                            <h4>skills</h4>
                        </div>  
                        <div class="skill-wrapper">     
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                    <span>Language</span>
                                        <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.TeacherSkill.Language%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.TeacherSkill.Language%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                <span>Team Leader</span>
                                        <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.TeacherSkill.TeamLeader%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.TeacherSkill.TeamLeader%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                <span>Development</span>
                                        <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.TeacherSkill.Development%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.TeacherSkill.Development%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                <span>Design</span>
                                        <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.TeacherSkill.Design%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.TeacherSkill.Design%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                <span>Innovation</span>
                                        <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.TeacherSkill.Innovation%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.TeacherSkill.Innovation%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                <span>Communication</span>
                                        <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.TeacherSkill.Communication%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@Model.TeacherSkill.Communication%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        
                              
                            </div>   
                        </div>     
                    </div>
                </div>
            </div>
        </div>