@model Course
@{
    ViewData["Title"] = "Deatil";
    int courseCount = 0;
    //string parentViewUrl = $"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}{HttpContext.Request.Path}{HttpContext.Request.QueryString}";
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/img/course/@ViewBag.CourseDetaiIImage" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Name</h2>
                        <p>@Model.Description</p>
                        <div class="course-details-left">
                            @foreach (var item in Model.CourseDetail)
                            {
                                
                            <div class="single-course-left">
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </div>
                            }
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.CourseFeature.Starts.Day @(new DateTime(DateTime.Now.Year, Model.CourseFeature.Starts.Month, 1).ToString("MMMM")), @Model.CourseFeature.Starts.Year</span></li>
                                <li>duration <span>@Model.CourseFeature.Duration</span></li>
                                <li>class duration <span>@Model.CourseFeature.ClassDuration</span></li>
                                <li>skill level <span>@Model.CourseFeature.SkillLevel</span></li>
                                <li>language <span>@Model.CourseFeature.Language</span></li>
                                <li>students <span>@Model.CourseFeature.Students</span></li>
                                <li>assesments <span>@Model.CourseFeature.Assesment</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.CourseFeature.Fee</h3>
                        </div>
                    </div>
                    @await Html.PartialAsync("_Comment",new CommentVM())
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input id="input-search" type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                                <ul id="searchList" class="list-group list-group-flush">
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in ViewBag.Categories)
                            {
                                foreach (var course in ViewBag.Course)
                                {
                                    if (category.Id == course.CategoryId) courseCount++;
                                }
                                <li><a href="#">@category.Name (@courseCount)</a></li>

                                courseCount = 0;

                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (var item in ViewBag.Posts)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a href="blog-details.html">
                                        <img src="~/img/post/@item.ImgUrl" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a href="blog-details.html">@item.Title</a></h4>
                                    <p>By @item.Author  /  @(new DateTime(DateTime.Now.Year, item.Date.Month, 1).ToString("MMMM")) @item.Date.Day, @item.Date.Year</p>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (var tag in ViewBag.Tags)
                            {
                                <a asp-controller="course" asp-action="detail" asp-route-id="@Model.Id" class="mr-10 mb-10">@tag.Name</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Subscribe",new SubscribeVM())
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).on("keyup", "#input-search", function () {
        console.log("salam");
        var search = $("#input-search").val().trim();

        $("#searchList li").remove();
        if (search != null) {

            $.ajax({
                method: "get",
                url: "/course/search?search=" + search,
                success: function (data) {
                    $("#searchList").append(data);
                }
            })
        }
    })


</script>
