@model List<Course>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" method="post" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model)
            {
                count++;
                <div class="col-md-4 @(count==Model.Count?"hidden-sm":"col-sm-6") col-xs-12">
                <div class="single-course mb-70">
                    <div class="course-img">
                        <a asp-controller="course" asp-action="detail" asp-route-id="@course.Id">
                            <img src="img/course/@course.ImgUrl" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">@course.Name</a></h3>
                        <p>@course.Description.Substring(0,course.Description.Length/4)</p>
                        <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@course.Id">read more</a>
                    </div>
                </div>
            </div>
            }
            @{
                count = 0;
            }
        </div>
    </div>
</div>   
@await Html.PartialAsync("_Subscribe",new SubscribeVM())