@model Event
@{
    ViewData["Title"] = "Detail";
    int courseCount = 0;
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / @ViewData["Title"]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/img/event/@Model.ImgUrl" alt="event-details">
                        <div class="event-date">
                            <h3>20 <span>jun</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Title</h2>
                        <ul>
                            <li><span>time:</span> @Model.OpenTime.Day @(new DateTime(DateTime.Now.Year, Model.OpenTime.Month, 1).ToString("MMMM"))</li>
                            <li><span>venue</span> @Model.Venue.Substring(0,14)</li>
                        </ul>
                        @Html.Raw(Model.Desc)
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (var speaker in Model.SpeakerEvent.Where(s=>s.EventId==Model.Id))
                            {
                            <div class="single-speaker">
                                <div class="speaker-img">
                                    <img src="~/img/event/@speaker.Speaker.ImgUrl" alt="speaker">
                                </div>
                                <div class="speaker-name">
                                        <h5>@speaker.Speaker.Name</h5>
                                        <p>@speaker.Speaker.Specilty</p>
                                </div>
                            </div>
                            }
                          
                        </div>
                    </div>
                   @await Html.PartialAsync("_Comment",new CommentVM())
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input id="input-search" type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                                <ul id="searchList" class="list-group list-group-flush">
                                </ul>
                            </form>

                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in ViewBag.Categories)
                            {
                                foreach (var events in ViewBag.Events)
                                {
                                    if (category.Id == events.CategoryId) courseCount++;
                                }
                                <li><a href="#">@category.Name (@courseCount)</a></li>

                                courseCount = 0;

                            
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (var item in ViewBag.Posts)
                        {
                            courseCount++;
                            <div class="single-post @(courseCount==Model.Post.Count?"":" mb-30")">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/img/post/@item.ImgUrl" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">@item.Title</a></h4>
                                    <p>By @item.Author  /  @(new DateTime(DateTime.Now.Year, item.Date.Month, 1).ToString("MMMM")) @item.Date.Day, @item.Date.Year</p>
                            </div>
                        </div>
                            
                        }
                        
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (var tag in ViewBag.Tags)
                            {
                                <a asp-controller="event" asp-action="detail" asp-route-id="@Model.Id" class="mr-10 mb-10">@tag.Name</a>

                            }
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Subscribe",new SubscribeVM())
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).on("keyup", "#input-search", function () {
        console.log("salam");
        var search = $("#input-search").val().trim();

        $("#searchList li").remove();
        if (search != null) {

            $.ajax({
                method: "get",
                url: "/event/search?search=" + search,
                success: function (data) {
                    $("#searchList").append(data);
                }
            })
        }
    })


</script>

