@model EventVM
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
    
    <!-- Header Area End -->
    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>@this.ViewContext.RouteData.Values["controller"].ToString()</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Event Start -->
    <div class="event-area three text-center pt-150 pb-150">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Event)
            {
                count++;
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="detail" asp-route-id="@item.Id">
                                <img src="img/event/@item.ImgUrl" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.Date.Day <span>@(new DateTime(DateTime.Now.Year, item.Date.Month, 1).ToString("MMMM"))</span> </h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-action="detail">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @item.OpenTime.Hour.ToString() : @item.OpenTime.Minute.ToString() @item.OpenTime.ToString().Substring(item.OpenTime.ToString().Length-2,2) - @item.CloseTime.Hour.ToString() : @item.CloseTime.Minute.ToString() @item.CloseTime.ToString().Substring(item.CloseTime.ToString().Length-2,2)</li>
                                <li><span>venue</span> @item.Venue.Substring(0,14)</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="single-event">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="img/event/event12.jpg" alt="event">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                        <div class="event-date">
                            <h3>06 <span>jun</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-left">
                        <h4><a href="event-details.html">ADVANCED PHOTOSHOP 2017</a></h4>
                        <ul>
                            <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                            <li><span>venue</span> New Yourk City</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="single-event">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="img/event/event13.jpg" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>04 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a href="event-details.html">NEW TREND IN WEBDESIGN</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> New Yourk City</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Subscribe",new SubscribeVM())

