@model EventVM
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
    
    <!-- Header Area End -->
    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>@this.ViewContext.RouteData.Values["controller"].ToString()</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Event Start -->
    <div class="event-area three text-center pt-150 pb-150">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Event)
            {
                count++;
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="detail" asp-route-id="@item.Id">
                                <img src="img/event/@item.ImgUrl" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.OpenTime.Day <span>@(new DateTime(DateTime.Now.Year, item.OpenTime.Month, 1).ToString("MMMM"))</span> </h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-action="detail">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span>@item.OpenTime - @item.CloseTime </li>
                                <li><span>venue</span> @item.Venue.Substring(0,14)</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Subscribe",new SubscribeVM())

