@model List<Post>
@{
    ViewData["Title"] = "Index";
}
<a asp-controller="post" asp-action="Create" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var posts in Model)
        {
            <tr>
                <td><img style="width:50px;height:50px;" src="~/img/post/@posts.ImgUrl" /></td>
                <td>@posts.Title</td>
                <td>@posts.Author</td>
                <td>@posts.Date.Day @(new DateTime(DateTime.Now.Year, posts.Date.Month, 1).ToString("MMMM"))</td>
                <td>

                    <a asp-controller="post" asp-action="Delete" asp-route-id="@posts.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    <a asp-controller="post" asp-action="Update" asp-route-id="@posts.Id" class="btn btn-outline-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a asp-controller="post" asp-action="detail" asp-route-id="@posts.Id" class="btn btn-outline-info"><i class="fa-solid fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
