@model AboutVM
@{
    ViewData["Title"]="Index";
    int count = 0;
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- About Start -->
<div class="about-area pt-145 pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>@Model.About.Title.Substring(0,Model.About.Title.Length-7) <span>@Model.About.Title.Substring(Model.About.Title.Length-7,7)</span></h2>
                    <p>@Html.Raw(Model.About.Title)</p>
                    <a class="default-btn" href="#">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="img/about/@Model.About.ImgUrl" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="img/icon/section.png" alt="title">
                    <h2>meet our teachers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var teacher in Model.Teacher)
            {
                count++;
                <div class="col-md-3 @(count==Model.Teacher.Count?"hidden-sm":"col-sm-4") col-xs-12">
                <div class="single-teacher">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="img/teacher/@teacher.ImgUrl" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">@teacher.Name</a></h2>
                        <h4>@teacher.Specilty</h4>
                        <ul>
                            @foreach (var socialMedia in teacher.TeacherSocialMedia)
                            {
                            <li><a href="@socialMedia.NameUrl">@Html.Raw(socialMedia.Icon)</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Teacher End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                    @foreach (var item in Model.Testimonial)
                    {                
                <div class="col-md-8 col-md-offset-2 col-sm-12">  
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="img/testimonial/@item.ImgUrl" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>@item.Desc</p>
                                <h4>@item.Name</h4>
                                <h5>@item.Position</h5>
                            </div>
                        </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.About.VideoLink">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        
                        @foreach (var events in Model.Event)
                        {
                            <div class="single-notice-left @(count%3==0?"pb-70":"mb-23 pb-20")">
                                <h4>@events.Date.Day @(new DateTime(DateTime.Now.Year, events.Date.Month, 1).ToString("MMMM"))</h4>
                                <p>@Html.Raw(events.Desc.Substring(0,100)+"</p>") </p>

                            </div>
                            count++;

                        }
                        <div class="single-notice-left mb-23 pb-20">
                            <h4>5, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left hidden-sm mb-23 pb-20">
                            <h4>4, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left pb-70">
                            <h4>3, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left mb-23 pb-20">
                            <h4>5, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left hidden-sm mb-23 pb-20">
                            <h4>4, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                        <div class="single-notice-left pb-70">
                            <h4>3, June 2017</h4>
                            <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("_Subscribe",new SubscribeVM())
