@model List<AppUser>
@{
    ViewData["Title"] = "Index";

}
<a asp-controller="user" asp-action="Create" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.</td>
                
                <td>

                    <a asp-controller="user" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    <a asp-controller="user" asp-action="Update" asp-route-id="@user.Id" class="btn btn-outline-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a asp-area="" asp-controller="user" asp-action="detail" asp-route-id="@user.Id" class="btn btn-outline-info"><i class="fa-solid fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
