@model List<Course>
@{
    ViewData["Title"] = "Index";
}
<a asp-controller="course" asp-action="Create" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Setting</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var courses in Model)
        {
            <tr>
                <td><img style="width:50px;height:50px;" src="~/img/course/@courses.ImgUrl" /></td>
                <td>@courses.Name</td>
                <td>@(courses.Category != null ? courses.Category.Name : "No Category")</td>
                <td>

                    <a asp-controller="course" asp-action="Delete" asp-route-id="@courses.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    <a asp-controller="course" asp-action="Update" asp-route-id="@courses.Id" class="btn btn-outline-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a asp-area="" asp-controller="course" asp-action="detail" asp-route-id="@courses.Id" class="btn btn-outline-info"><i class="fa-solid fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
