@model EventUpdateVM
@{
    ViewData["Title"] = "Index";
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Desc" class="form-label"></label>
        <input asp-for="Desc" class="form-control" placeholder="Description">
        <span asp-validation-for="Desc" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="OpenTime" class="form-label"></label>
        <input asp-for="OpenTime" class="form-control" placeholder="Opening Time">
        <span asp-validation-for="OpenTime" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CloseTime" class="form-label"></label>
        <input asp-for="CloseTime" class="form-control" placeholder="Closing Time">
        <span asp-validation-for="CloseTime" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Venue" class="form-label"></label>
        <input asp-for="Venue" class="form-control" placeholder="Venue">
        <span asp-validation-for="Venue" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image" style="color:red;"></span>
    </div>

    <h2>Categories</h2>
    <div class="btn-group" data-toggle="buttons">
        @foreach (var category in ViewBag.Categories)
        {
            <label class="btn btn-primary">
                <input type="radio" name="categoryId" value="@category.Id" @(ViewBag.CategoryWithEvent.CategoryId==category.Id?"checked":"")> @category.Name
            </label>

        }


    </div>
    <br />
    <h2>Speakers</h2>
    @foreach (var speaker in ViewBag.Speakers)
    {
        <label class="btn btn-primary">
            <input type="checkbox" name="speakerIds" value="@speaker.Id" @foreach (var item in ViewBag.SpeakerEvent)
            {
                if (item.SpeakerId == speaker.Id)
                {
                    @("checked")
                }
                else
                {
                    @("")
                }
            }
            > @speaker.Name
        </label>

    }
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-controller="event" asp-action="index">Go Back</a>
</form>
<script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </script>

