@model HomeVM

@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (var slide in Model.Slider)
        {
            <div class="single-slide item" style="background-image: url(img//slider/@slide.SliderImgae.FirstOrDefault(s=>s.SliderId==slide.Id&&s.IsMain).ImgUrl)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-left-5">
                            <div class="slide-content-wrapper @(Model.Slider.Count()==2?"text-left":"")">
                                <div class="slide-content">
                                    <h3>@slide.Definition </h3>
                                    <h2>@slide.Title </h2>
                                    <p>@slide.Description</p>
                                    <a class="default-btn" href="about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div> 
        }
        
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        
    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>notice board</h3>
                    @foreach (var events in Model.Event)
                    {
                     count++;
                        <div class="single-notice-left @(count%3==0?"pb-75":"mb-25 pb-25")">
                            <h4>@events.Date.Day @(new DateTime(DateTime.Now.Year, events.Date.Month, 1).ToString("MMMM"))</h4>
                            <p>@Html.Raw(events.Desc.Substring(0,100)+"</p>") </p>
                           
                    </div>

                    }
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>PROFESSIONAL TEACHER</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>Online courses</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right">
                        <h3>easy to addmission</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                    <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                    <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img//icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                count = 0;
            }
            @foreach (var item in Model.Course)
            {
                count++;
                <div class="col-md-4 @(count==Model.Course.Count?"hidden-sm":"col-sm-6")  col-sm-6 col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a href="course-details.html">
                            <img src="~/img//course/@item.ImgUrl" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">@item.Name</a></h3>
                        <p>@item.Description.Substring(0,110)</p>
                        <a class="default-btn" href="course-details.html">read more</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img//icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-event mb-35">
                    <div class="event-date">
                        <h3><a href="event-details.html">20 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">MICRO BIOLOGICAL WORKSHOP</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event mb-35">
                    <div class="event-date">
                        <h3><a href="event-details.html">18 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">ADVANCE PHP WORKSHOP</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event mb-35">
                    <div class="event-date">
                        <h3><a href="event-details.html">16 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">LEARN ENGLISH HISTORY</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event">
                    <div class="event-date">
                        <h3><a href="event-details.html">14 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">GLOBAL ECONOMIC CONFERENCE</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="single-event mb-35">
                    <div class="event-date">
                        <h3><a href="event-details.html">12 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">MATHEMATICAL WORKSHOP</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event mb-35">
                    <div class="event-date">
                        <h3><a href="event-details.html">10 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">WORDPRESS AUTHOR MEET UP</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event mb-35">
                    <div class="event-date">
                        <h3><a href="event-details.html">08 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">DIGITAL MARKETING ANALYSIS</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
                <div class="single-event">
                    <div class="event-date">
                        <h3><a href="event-details.html">06 <span>June</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                            <h4><a href="event-details.html">WROKSHOP ON UI &amp; UX</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="img//testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="img//icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="img//blog/blog1.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="img//blog/blog2.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="img//blog/blog3.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
@await Html.PartialAsync("_Subscribe",new SubscribeVM())