@model HomeVM

@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (var slide in Model.Slider)
        {
            <div class="single-slide item" style="background-image: url(img//slider/@slide.SliderImgae.FirstOrDefault(s=>s.SliderId==slide.Id&&s.IsMain).ImgUrl)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-left-5">
                            <div class="slide-content-wrapper @(Model.Slider.Count()==2?"text-left":"")">
                                <div class="slide-content">
                                    <h3>@slide.Definition </h3>
                                    <h2>@slide.Title </h2>
                                    <p>@slide.Description</p>
                                    <a class="default-btn" asp-controller="about" asp-action="index">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div> 
        }
        
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        
    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>notice board</h3>
                    @foreach (var events in Model.Event)
                    {
                     count++;
                        <div class="single-notice-left @(count%3==0?"pb-75":"mb-25 pb-25")">
                            <h4>@events.OpenTime.Day @(new DateTime(DateTime.Now.Year, events.OpenTime.Month, 1).ToString("MMMM"))</h4>
                            <p>@Html.Raw(events.Desc.Substring(0,events.Desc.Length/10)) </p>
                           
                    </div>

                    }
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    @foreach (var item in Model.NoticeAreaRight)
                    {
                    <div class="single-notice-right  @(count==Model.NoticeAreaRight.Count?"":"mb-25 pb-25") ">
                        <h3>@item.Title</h3>
                        <p>@item.Desc</p>
                    </div>
                        
                    }
                    @{
                        count = 0;
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>@Model.WhyChooseUs.Title</h2>
                    <p>@Html.Raw(Model.WhyChooseUs.Description) </p>
                    <a class="default-btn" asp-controller="course" asp-action="index">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img//icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.Course)
            {
                count++;
                <div style="margin-bottom:30px;" class="col-md-4 @(count==Model.Course.Count?"hidden-sm":"col-sm-6") col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                            <a asp-controller="course" asp-action="detail" asp-route-id="@course.Id">
                                <img src="~/img//course/@course.ImgUrl" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                            <h3><a asp-controller="course" asp-action="detail" asp-route-id="@course.Id">@course.Name</a></h3>
                            <p>@if (course.Description.Length >= 50)
                                {
                                    @course.Description.Substring(0, 50)
                                }
                                else
                                {
                                    @course.Description
                                }
                            </p>

                            <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@course.Id">read more</a>
                    </div>
                </div>
            </div>
            }
            @{
                count = 0;
            }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img//icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @foreach (var events in Model.Event)
                {
                    count++;
                    <div class="single-event mb-35">
                    <div class="event-date">
                            <h3><a asp-controller="event" asp-action="detail" asp-route-id="@events.Id">@events.OpenTime.Day <span>@(new DateTime(DateTime.Now.Year, events.OpenTime.Month, 1).ToString("MMMM"))</span></a></h3>
                    </div>
                    <div class="event-content text-left">
                        <div class="event-content-left">
                                <h4><a asp-controller="event" asp-action="detail" asp-route-id="@events.Id">@events.Title</a></h4>
                            <ul>
                                    @*<li>@events.Date.Hour:@events.Date.Minute  - @events.CloseTime</li>*@
                                    <li><i class="fa fa-map-marker"></i>@events.Venue</li>
                            </ul>
                        </div>
                        <div class="event-content-right">
                            <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@events.Id">join now</a>
                        </div>
                    </div>
                </div>
                    if (count == Math.Round((decimal)Model.Event.Count / 2))
                    {
                        break;
                    }
                }
                @{
                    count = 0;
                }
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                @foreach (var events in Model.Event)
                {
                    count++;
                    if (count <= Math.Round((decimal)Model.Event.Count / 2))
                    {
                        continue;
                    }
                    <div class="single-event @(count==Model.Event.Count?"":"mb-35")">
                        <div class="event-date">
                            <h3><a asp-controller="event" asp-action="detail" asp-route-id="@events.Id">@events.OpenTime.Day <span>@(new DateTime(DateTime.Now.Year, events.OpenTime.Month, 1).ToString("MMMM"))</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-controller="event" asp-action="detail">@events.Title</a></h4>
                                <ul>
                                   @*<li> @events.OpenTime : @events.CloseTime</li>*@
                                    <li><i class="fa fa-map-marker"></i>@events.Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@events.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }
            
            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                    @foreach (var item in Model.Testimonial)
                    {
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="img//testimonial/@item.ImgUrl" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                    <p>@item.Desc
                                    </p>

                                <h4>@item.Name</h4>
                                <h5>@item.Position</h5>
                            </div>
                        </div>
                    </div>
                      
                </div>  
                    }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="img//icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Model.Blog)
            {
                
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id"><img src="~/img/blog/@blog.ImgUrl" alt="blog"></a>
                        <div class="blog-hover">
                            <a asp-controller="blog" asp-action="detail"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                                <p>By @blog.Author  /  @(new DateTime(DateTime.Now.Year, blog.Date.Month, 1).ToString("MMMM")) @blog.Date.Day,@blog.Date.Year /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                                <h2>
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                                        @if (blog.Description.Length >= 30)
                                        {
                                            @blog.Description.Substring(0,30)
                                        }
                                        else
                                        {
                                            @blog.Description
                                        }
                                    </a>
                                </h2>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
@await Html.PartialAsync("_Subscribe",new SubscribeVM())